@model IEnumerable<OnlineAlumniPortalMVC.Models.Student>
@{
	ViewBag.Title = "ManageSliders";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-xs-9">
	<h2><strong> Students Not Submit Fee after 10</strong></h2>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        $('.table-dynamic').dataTable({
            "pageLength": 25
        });
        alert = function () { };
    });
</script>
<script type="text/javascript">
    function GetImageNameInHiddenBox(ID) {
        $("#DeleteLink").attr("href", "/Students/Delete?ID=" + ID);
    }
</script>
<body>
	<div class="row">
		<div class="col-lg-12 portlets">
			<div class="panel">
				<div class="panel-content pagination2 table-responsive">
					<table class="table table-hover table-dynamic">
						<thead>
							<tr>
								<th style="display:none;"></th>
								<th>ID</th>
								<th>Mobile</th>
								<th>Title</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							@{
								if (Model != null)
								{
									foreach (var item in Model)
									{
										<tr>
											<td style="display:none;">
												<img src="~/Resources/UserEnd/images/chosen-sprite.png" />
											</td>
											<td>
												@Html.DisplayFor(modelitem => item.ID)
											</td>
											<td>
												@Html.DisplayFor(modelItem => item.Mobile)
											</td>
											<td>
												@Html.DisplayFor(modelItem => item.Name)
											</td>
											@{
												if (item.IsActive == true)
												{
													<td>
														Active
													</td>
												}
												else
												{
													<td>
														In Active
													</td>
												}
											}
										</tr>
									}
								}
							}
						</tbody>
					</table>
					<div class="modal fade modal-bottomfull" id="modal-bottomfull" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
									<h4 class="modal-title"><strong>Are you</strong> Sure</h4>
								</div>
								<div class="modal-body">
									You want to delete this info ?
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">Cancel</button>
									<a href="" id="DeleteLink" class="btn btn-primary btn-embossed">Delete</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>


